### Telecom churn prediction:
**Faseela K Karim**

### **Introduction**
One-hot encoding is a technique used in machine learning to convert categorical data into a format that can be easily processed by algorithms. Categorical variables cannot be quantified directly. One-hot encoding creates a binary representation of each possible value, turning categorical data into numerical data that can be processed by machine learning models.

The process of one-hot encoding involves creating a new binary column for each possible category value in the categorical variable. For example, if a categorical variable has three possible values, a one-hot encoding process will create three new binary columns, one for each value. The binary columns will be filled with 1s and 0s, where 1 represents the presence of that category value in the original data.

One-hot encoding is important because many machine learning algorithms cannot directly process categorical data. By converting categorical data into numerical data, machine learning algorithms can more easily analyze and model the data. 
Overall, one-hot encoding is a critical technique in machine learning, as it enables models to effectively analyze and make predictions from categorical data.

In [1]:
#import required packages
import pandas as pd
import numpy as np
%matplotlib inline
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from sklearn.preprocessing import OneHotEncoder

In [4]:
# #connecting to ggogle drive
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [123]:
# #uploading the dataset(cleaned dataset)
# df=pd.read_csv('/content/drive/My Drive/final_capstone/cleaned_data_output.csv',index_col=0)

In [2]:
df=pd.read_csv('data/cleaned_data_output.csv',index_col=0)

In [3]:
#display the dataframe
pd.set_option('display.max_columns', None)
df.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,change_rev,drop_vce_Mean,blck_vce_Mean,unan_vce_Mean,plcd_vce_Mean,plcd_dat_Mean,recv_vce_Mean,comp_vce_Mean,comp_dat_Mean,custcare_Mean,ccrndmou_Mean,cc_mou_Mean,inonemin_Mean,threeway_Mean,mou_cvce_Mean,mou_cdat_Mean,mou_rvce_Mean,owylis_vce_Mean,mouowylisv_Mean,iwylis_vce_Mean,mouiwylisv_Mean,peak_vce_Mean,peak_dat_Mean,mou_peav_Mean,opk_vce_Mean,opk_dat_Mean,mou_opkv_Mean,mou_opkd_Mean,drop_blk_Mean,attempt_Mean,complete_Mean,callwait_Mean,churn,months,uniqsubs,actvsubs,new_cell,crclscod,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,area,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,lor,dwlltype,marital,adults,income,numbcars,HHstatin,dwllsize,ethnic,creditcd,eqpdays,Customer_ID,number_of_kids
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,-18.9975,0.666667,0.666667,6.333333,52.333333,0.0,42.333333,45.000000,0.0,0.000000,0.000000,0.000000,18.000000,0.000000,90.643333,0.0,97.176667,0.000000,0.000000,0.000000,0.000000,58.000000,0.0,132.600000,24.000000,0.0,55.220000,0.0,1.333333,52.333333,45.000000,0.333333,1,61,2,1,U,A,0,1652,4228.00000,1504.62,1453.44,4085.00,1602,29.66,83.37,32.69,272,116,30,322.0,136.0,38.0,S,Rural,1,1,149.98999,2.0,2.0,1,0.0,15.0,0,N,1.0,4.0,3.0,C,A,N,1,361.0,1000001,0
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,50.9875,8.333333,1.000000,61.333333,263.333333,0.0,69.000000,193.333333,0.0,1.666667,6.333333,5.463333,53.000000,0.333333,189.396667,0.0,55.280000,46.333333,24.216667,6.333333,3.696667,83.666667,0.0,75.333333,157.000000,0.0,169.343333,0.0,9.333333,263.333333,193.333333,5.666667,0,56,1,1,N,B,0,14654,26400.00000,2851.68,2833.88,26367.00,14624,51.53,479.40,265.89,305,158,40,477.0,275.0,48.0,U,Urban,0,1,99.98999,7.0,6.0,0,1.0,1.0,0,N,1.0,5.0,1.0,C,A,Z,1,240.0,1000002,0
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,0.0000,0.333333,0.000000,2.666667,9.000000,0.0,0.333333,6.000000,0.0,0.000000,0.000000,0.000000,0.333333,0.000000,5.426667,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.0,5.193333,1.000000,0.0,0.233333,0.0,0.333333,9.000000,6.000000,0.000000,1,58,1,1,Y,C,0,7903,24385.05333,2155.91,1934.47,24303.05,7888,34.54,433.98,140.86,12,7,17,11.0,6.0,17.0,S,Suburban,0,1,29.98999,2.0,1.0,1,0.0,7.0,0,M,2.0,5.0,2.0,C,A,N,1,1504.0,1000003,1
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,0.0000,0.000000,0.000000,0.000000,3.666667,0.0,1.333333,3.666667,0.0,0.000000,0.000000,0.000000,1.333333,0.000000,8.410000,0.0,0.413333,0.333333,0.256667,0.000000,0.000000,1.333333,0.0,3.380000,3.666667,0.0,5.450000,0.0,0.000000,3.666667,3.666667,0.000000,0,60,1,1,Y,B,0,1502,3065.00000,2000.90,1941.81,3035.00,1479,40.45,63.23,30.81,8,3,38,50.0,25.0,40.0,T,Urban,0,1,29.98999,1.0,1.0,1,0.0,6.0,1,M,4.0,6.0,1.0,C,D,U,1,1812.0,1000004,1
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,0.0000,9.666667,0.666667,77.000000,222.333333,0.0,94.666667,137.000000,0.0,8.666667,15.000000,11.076667,66.000000,0.000000,285.233333,0.0,106.330000,14.666667,10.816667,0.666667,0.366667,97.333333,0.0,173.476667,90.333333,0.0,218.086667,0.0,10.333333,222.333333,137.000000,0.000000,0,57,1,1,Y,A,0,4485,14028.00000,2181.12,2166.48,13965.00,4452,38.69,249.38,79.50,558,191,55,586.0,196.0,80.0,U,Suburban,1,1,149.98999,6.0,4.0,1,0.0,5.0,1,N,1.0,6.0,1.0,C,O,I,1,434.0,1000005,0

In [9]:
#check the shape of the dataframe
df.shape

(100000, 86)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 86 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   rev_Mean          100000 non-null  float64
 1   mou_Mean          100000 non-null  float64
 2   totmrc_Mean       100000 non-null  float64
 3   da_Mean           100000 non-null  float64
 4   ovrmou_Mean       100000 non-null  float64
 5   ovrrev_Mean       100000 non-null  float64
 6   vceovr_Mean       100000 non-null  float64
 7   datovr_Mean       100000 non-null  float64
 8   roam_Mean         100000 non-null  float64
 9   change_mou        100000 non-null  float64
 10  change_rev        100000 non-null  float64
 11  drop_vce_Mean     100000 non-null  float64
 12  blck_vce_Mean     100000 non-null  float64
 13  unan_vce_Mean     100000 non-null  float64
 14  plcd_vce_Mean     100000 non-null  float64
 15  plcd_dat_Mean     100000 non-null  float64
 16  recv_vce_Mean     100000 non-null  float64
 17  comp_vce_Mean     100000 non-null  float64
 18  comp_dat_Mean     100000 non-null  float64
 19  custcare_Mean     100000 non-null  float64
 20  ccrndmou_Mean     100000 non-null  float64
 21  cc_mou_Mean       100000 non-null  float64
 22  inonemin_Mean     100000 non-null  float64
 23  threeway_Mean     100000 non-null  float64
 24  mou_cvce_Mean     100000 non-null  float64
 25  mou_cdat_Mean     100000 non-null  float64
 26  mou_rvce_Mean     100000 non-null  float64
 27  owylis_vce_Mean   100000 non-null  float64
 28  mouowylisv_Mean   100000 non-null  float64
 29  iwylis_vce_Mean   100000 non-null  float64
 30  mouiwylisv_Mean   100000 non-null  float64
 31  peak_vce_Mean     100000 non-null  float64
 32  peak_dat_Mean     100000 non-null  float64
 33  mou_peav_Mean     100000 non-null  float64
 34  opk_vce_Mean      100000 non-null  float64
 35  opk_dat_Mean      100000 non-null  float64
 36  mou_opkv_Mean     100000 non-null  float64
 37  mou_opkd_Mean     100000 non-null  float64
 38  drop_blk_Mean     100000 non-null  float64
 39  attempt_Mean      100000 non-null  float64
 40  complete_Mean     100000 non-null  float64
 41  callwait_Mean     100000 non-null  float64
 42  churn             100000 non-null  int64
 43  months            100000 non-null  int64
 44  uniqsubs          100000 non-null  int64
 45  actvsubs          100000 non-null  int64
 46  new_cell          100000 non-null  object
 47  crclscod          100000 non-null  object
 48  asl_flag          100000 non-null  int64
 49  totcalls          100000 non-null  int64
 50  totmou            100000 non-null  float64
 51  totrev            100000 non-null  float64
 52  adjrev            100000 non-null  float64
 53  adjmou            100000 non-null  float64
 54  adjqty            100000 non-null  int64
 55  avgrev            100000 non-null  float64
 56  avgmou            100000 non-null  float64
 57  avgqty            100000 non-null  float64
 58  avg3mou           100000 non-null  int64
 59  avg3qty           100000 non-null  int64
 60  avg3rev           100000 non-null  int64
 61  avg6mou           100000 non-null  float64
 62  avg6qty           100000 non-null  float64
 63  avg6rev           100000 non-null  float64
 64  prizm_social_one  100000 non-null  object
 65  area              100000 non-null  object
 66  dualband          100000 non-null  int64
 67  refurb_new        100000 non-null  int64
 68  hnd_price         100000 non-null  float64
 69  phones            100000 non-null  float64
 70  models            100000 non-null  float64
 71  hnd_webcap        100000 non-null  int64
 72  truck             100000 non-null  float64
 73  lor               100000 non-null  float64
 74  dwlltype          100000 non-null  int64
 75  marital           100000 non-null  object
 76  adults            100000 non-null  float64
 77  income            100000 non-null  float64
 78  numbcars          100000 non-null  float64
 79  HHstatin          100000 non-null  object
 80  dwllsize          100000 non-null  object
 81  ethnic            100000 non-null  object
 82  creditcd          100000 non-null  int64
 83  eqpdays           100000 non-null  float64
 84  Customer_ID       100000 non-null  int64
 85  number_of_kids    100000 non-null  int64
dtypes: float64(61), int64(17), object(8)
memory usage: 66.4+ MB

In [125]:
#split the data into target variable 'churn' and other variables
X=df.drop('churn',axis=1)
y=df['churn']

In [126]:
#do the test,train split, test size is 25% of the total data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, stratify=y, random_state=42)

In [127]:
#check the shape of test data
X_test.shape

(25000, 85)

In [65]:
#find the columns to one hot encode
object_cols = df.select_dtypes(include='object').columns

In [128]:
#display names of object columns
object_cols

Index(['new_cell', 'crclscod', 'prizm_social_one', 'area', 'marital',
       'HHstatin', 'dwllsize', 'ethnic'],
      dtype='object')

In [129]:
#saved object columns as a list
columns_to_onehot_encode=['new_cell', 'crclscod', 'prizm_social_one', 'area', 'marital','HHstatin', 'dwllsize', 'ethnic']

In [130]:
for col in columns_to_onehot_encode:
    # instantiate encoder
    ohe_cell = OneHotEncoder()
    # save the column to encode into variable seperately for test and train data
    new_col_test = pd.DataFrame(X_test[col])
    new_col_train = pd.DataFrame(X_train[col])
    # fit and transform train data
    encoded_train_cell = ohe_cell.fit_transform(new_col_train)
     #transform test data using the same encoder object
    encoded_test_cell = ohe_cell.transform(new_col_test)
    # convert from sparse to dense
    dense_array_train_cell = encoded_train_cell.toarray()
    dense_array_test_cell = encoded_test_cell.toarray()
    # viewing classes stored in encoder
    cat=ohe_cell.categories_
    
    # Access the category names of each column
    my_array = cat[0]
#     my_array_test = cat[0]
    # Loop through each value of the array
    for i,value in enumerate(my_array):
        my_array[i]=f"{col}_{value}"
        #the dataframe name will change according to the column name for test and train data seperately
    exec(f"{col}_df_test= pd.DataFrame(dense_array_test_cell, columns=my_array, dtype=int)")
    exec(f"{col}_df_train= pd.DataFrame(dense_array_train_cell, columns=my_array, dtype=int)")

Drop one column from each of the dataframe created to avoid multicollinearity

In [131]:
#display onehot encoded new_cell column of train data
new_cell_df_train.head()

   new_cell_N  new_cell_U  new_cell_Y
0           0           1           0
1           0           1           0
2           0           1           0
3           1           0           0
4           0           1           0

In [70]:
#display onehot encoded new_cell column of test data
new_cell_df_test.head()

   new_cell_N  new_cell_U  new_cell_Y
0           1           0           0
1           1           0           0
2           1           0           0
3           0           1           0
4           1           0           0

In [132]:
#drop one column to avoid multicollinearity
new_cell_df_train.drop('new_cell_U',axis=1,inplace=True)

In [133]:
#drop one column to avoid multicollinearity
new_cell_df_test.drop('new_cell_U',axis=1,inplace=True)

In [73]:
#display onehot encoded crclscod column of train data
crclscod_df_train.head()

   crclscod_A  crclscod_B  crclscod_C  crclscod_D
0           0           1           0           0
1           0           1           0           0
2           1           0           0           0
3           1           0           0           0
4           1           0           0           0

In [74]:
#display onehot encoded crclscod column of test data
crclscod_df_test.head()

   crclscod_A  crclscod_B  crclscod_C  crclscod_D
0           1           0           0           0
1           0           1           0           0
2           1           0           0           0
3           0           1           0           0
4           1           0           0           0

In [134]:
#drop one column to avoid multicollinearity
crclscod_df_train.drop('crclscod_D',axis=1,inplace=True)

In [135]:
#drop one column to avoid multicollinearity
crclscod_df_test.drop('crclscod_D',axis=1,inplace=True)

In [77]:
#display onehot encoded prizm_social_one of train data
prizm_social_one_df_train.head()

,prizm_social_one_C,prizm_social_one_R,prizm_social_one_S,prizm_social_one_T,prizm_social_one_U
0,0,0,1,0,0
1,0,0,0,0,1
2,0,0,0,1,0
3,0,0,0,0,1
4,0,0,0,1,0

In [78]:
#display onehot encoded prizm_social_one of test data
prizm_social_one_df_test.head()

,prizm_social_one_C,prizm_social_one_R,prizm_social_one_S,prizm_social_one_T,prizm_social_one_U
0,0,0,0,0,1
1,0,0,1,0,0
2,0,0,0,1,0
3,0,0,0,0,1
4,1,0,0,0,0

In [136]:
#drop one column to avoid multicollinearity
prizm_social_one_df_train.drop('prizm_social_one_U',axis=1,inplace=True)

In [137]:
#drop one column to avoid multicollinearity
prizm_social_one_df_test.drop('prizm_social_one_U',axis=1,inplace=True)

In [81]:
#display onehot encoded area of train data
area_df_train.head()

   area_Rural  area_Suburban  area_Urban
0           0              1           0
1           0              0           1
2           0              1           0
3           1              0           0
4           0              1           0

In [82]:
#display onehot encoded area of test data
area_df_test.head()

   area_Rural  area_Suburban  area_Urban
0           0              0           1
1           0              0           1
2           0              0           1
3           0              0           1
4           1              0           0

In [138]:
#drop one column to avoid multicollinearity
area_df_train.drop('area_Suburban',axis=1,inplace=True)

In [139]:
#drop one column to avoid multicollinearity
area_df_test.drop('area_Suburban',axis=1,inplace=True)

In [85]:
#display onehot encoded marital of train data
marital_df_train.head()

   marital_M  marital_N  marital_U
0          0          0          1
1          0          0          1
2          1          0          0
3          0          1          0
4          0          1          0

In [86]:
#display onehot encoded marital of test data
marital_df_test.head()

   marital_M  marital_N  marital_U
0          0          1          0
1          1          0          0
2          1          0          0
3          0          0          1
4          0          0          1

In [140]:
#drop one column to avoid multicollinearity
marital_df_train.drop('marital_U',axis=1,inplace=True)

In [141]:
#drop one column to avoid multicollinearity
marital_df_test.drop('marital_U',axis=1,inplace=True)

In [89]:
#display onehot encoded HHstatin of train data
HHstatin_df_train.head()

   HHstatin_A  HHstatin_B  HHstatin_C  HHstatin_G  HHstatin_H  HHstatin_I
0           0           0           0           0           0           1
1           0           0           1           0           0           0
2           0           0           1           0           0           0
3           0           0           1           0           0           0
4           0           0           0           0           0           1

In [90]:
#display onehot encoded HHstatin of test data
HHstatin_df_test.head()

   HHstatin_A  HHstatin_B  HHstatin_C  HHstatin_G  HHstatin_H  HHstatin_I
0           0           1           0           0           0           0
1           0           0           1           0           0           0
2           0           0           1           0           0           0
3           0           1           0           0           0           0
4           0           0           1           0           0           0

In [142]:
#drop one column to avoid multicollinearity
HHstatin_df_train.drop('HHstatin_I',axis=1,inplace=True)

In [143]:
#drop one column to avoid multicollinearity
HHstatin_df_test.drop('HHstatin_I',axis=1,inplace=True)

In [93]:
#display onehot encoded dwllsize of train data
dwllsize_df_train.head()

,dwllsize_A,dwllsize_B,dwllsize_C,dwllsize_D,dwllsize_E,dwllsize_F,dwllsize_G,dwllsize_H,dwllsize_I,dwllsize_J,dwllsize_K,dwllsize_L,dwllsize_M,dwllsize_N,dwllsize_O
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [144]:
#drop one column to avoid multicollinearity
dwllsize_df_test.drop('dwllsize_A',axis=1,inplace=True)

In [145]:
#drop one column to avoid multicollinearity
dwllsize_df_train.drop('dwllsize_A',axis=1,inplace=True)

In [96]:
#display onehot encoded ethnic of train data
ethnic_df_test.head()

,ethnic_B,ethnic_C,ethnic_D,ethnic_F,ethnic_G,ethnic_H,ethnic_I,ethnic_J,ethnic_M,ethnic_N,ethnic_O,ethnic_P,ethnic_R,ethnic_S,ethnic_U,ethnic_X,ethnic_Z
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [97]:
#display onehot encoded ethnic of train data
ethnic_df_train.head()

,ethnic_B,ethnic_C,ethnic_D,ethnic_F,ethnic_G,ethnic_H,ethnic_I,ethnic_J,ethnic_M,ethnic_N,ethnic_O,ethnic_P,ethnic_R,ethnic_S,ethnic_U,ethnic_X,ethnic_Z
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [146]:
#drop one column to avoid multicollinearity
ethnic_df_train.drop('ethnic_Z',axis=1,inplace=True)

In [147]:
#drop one column to avoid multicollinearity
ethnic_df_test.drop('ethnic_Z',axis=1,inplace=True)

resets the index of the DataFrame new_cell_df_test by dropping 
the previous index and creating a new one starting from 0. The reset_index() function is used to reset the index of a DataFrame, and the drop=True argument is used to drop the previous index column.

In [148]:
new_cell_df_test = new_cell_df_test.reset_index(drop=True)
marital_df_test = marital_df_test.reset_index(drop=True)
crclscod_df_test = crclscod_df_test.reset_index(drop=True)
HHstatin_df_test = HHstatin_df_test.reset_index(drop=True)
dwllsize_df_test = dwllsize_df_test.reset_index(drop=True)
area_df_test = area_df_test.reset_index(drop=True)
ethnic_df_test=ethnic_df_test.reset_index(drop=True)
prizm_social_one_df_test = prizm_social_one_df_test.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)

In [149]:
# concatenate all dataframes into one
test_dataset_onehot = pd.concat([X_test,new_cell_df_test,crclscod_df_test,prizm_social_one_df_test,area_df_test,
                                 marital_df_test,
                                 HHstatin_df_test,dwllsize_df_test,ethnic_df_test], axis=1)

In [150]:
#display all columns
pd.set_option('display.max_columns', None)
test_dataset_onehot.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,change_rev,drop_vce_Mean,blck_vce_Mean,unan_vce_Mean,plcd_vce_Mean,plcd_dat_Mean,recv_vce_Mean,comp_vce_Mean,comp_dat_Mean,custcare_Mean,ccrndmou_Mean,cc_mou_Mean,inonemin_Mean,threeway_Mean,mou_cvce_Mean,mou_cdat_Mean,mou_rvce_Mean,owylis_vce_Mean,mouowylisv_Mean,iwylis_vce_Mean,mouiwylisv_Mean,peak_vce_Mean,peak_dat_Mean,mou_peav_Mean,opk_vce_Mean,opk_dat_Mean,mou_opkv_Mean,mou_opkd_Mean,drop_blk_Mean,attempt_Mean,complete_Mean,callwait_Mean,months,uniqsubs,actvsubs,new_cell,crclscod,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,area,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,lor,dwlltype,marital,adults,income,numbcars,HHstatin,dwllsize,ethnic,creditcd,eqpdays,Customer_ID,number_of_kids,new_cell_N,new_cell_Y,crclscod_A,crclscod_B,crclscod_C,prizm_social_one_C,prizm_social_one_R,prizm_social_one_S,prizm_social_one_T,area_Rural,area_Urban,marital_M,marital_N,HHstatin_A,HHstatin_B,HHstatin_C,HHstatin_G,HHstatin_H,dwllsize_B,dwllsize_C,dwllsize_D,dwllsize_E,dwllsize_F,dwllsize_G,dwllsize_H,dwllsize_I,dwllsize_J,dwllsize_K,dwllsize_L,dwllsize_M,dwllsize_N,dwllsize_O,ethnic_B,ethnic_C,ethnic_D,ethnic_F,ethnic_G,ethnic_H,ethnic_I,ethnic_J,ethnic_M,ethnic_N,ethnic_O,ethnic_P,ethnic_R,ethnic_S,ethnic_U,ethnic_X
0,58.1350,401.25,50.00,0.7425,0.00,0.0000,0.0000,0.0,7.3925,87.75,-6.1550,5.000000,0.666667,33.000000,228.000000,0.0,49.000000,190.000000,0.0,1.333333,3.666667,3.066667,31.333333,0.0,189.566667,0.0,54.593333,25.666667,18.330000,0.000000,0.000000,108.000000,0.0,120.270000,116.666667,0.0,123.890000,0.0,5.666667,228.000000,190.000000,0.000000,38,1,1,N,A,0,10400,17641.0,2276.50,2224.64,17623.0,10388,60.13,476.30,280.76,372,222,60,342.0,187.0,57.0,U,Urban,1,0,99.98999,4.0,4.0,1,0.0,4.0,1,N,1.0,7.0,1.0,B,O,H,0,442.0,1004173,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,10.5850,37.25,10.00,0.4950,0.00,0.0000,0.0000,0.0,0.0000,65.75,0.4050,0.000000,1.333333,3.333333,16.000000,0.0,0.333333,11.333333,0.0,0.000000,0.000000,0.000000,0.333333,0.0,38.880000,0.0,0.166667,0.000000,0.000000,0.000000,0.000000,7.333333,0.0,27.270000,4.333333,0.0,11.776667,0.0,1.333333,16.000000,11.333333,0.000000,11,2,2,N,B,0,146,419.0,133.86,93.87,419.0,146,10.43,46.56,16.22,15,3,10,19.0,6.0,10.0,S,Urban,0,1,29.98999,1.0,1.0,0,1.0,7.0,0,M,4.0,6.0,1.0,C,A,H,1,319.0,1060200,4,1,0,0,1,0,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,79.2650,535.75,49.99,0.0000,118.00,35.4000,35.4000,0.0,0.0000,-364.75,-29.2750,39.333333,12.333333,5.000000,134.000000,0.0,25.666667,81.333333,0.0,0.000000,0.000000,0.000000,4.333333,0.0,187.000000,0.0,143.346667,15.333333,13.836667,4.333333,15.050000,24.333333,0.0,39.873333,78.666667,0.0,290.476667,0.0,51.666667,134.000000,81.333333,1.333333,33,3,2,N,A,0,5299,16970.0,2446.19,2384.35,16725.0,5193,76.91,539.52,167.52,657,174,89,637.0,184.0,87.0,T,Urban,0,1,29.98999,1.0,1.0,1,1.0,7.0,0,M,4.0,6.0,1.0,C,A,N,1,1003.0,1006741,1,1,0,1,0,0,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,28.2050,449.00,39.99,0.0000,12.75,4.4625,4.4625,0.0,0.0000,-11.00,-15.1550,8.000000,1.000000,30.666667,123.666667,0.0,193.666667,89.000000,0.0,1.666667,2.666667,1.726667,122.666667,0.0,82.880000,0.0,187.413333,31.666667,40.423333,11.666667,25.666667,163.666667,0.0,139.640000,90.333333,0.0,130.653333,0.0,9.000000,123.666667,89.000000,1.333333,12,1,1,U,B,0,1901,3299.0,403.31,343.33,3297.0,1899,31.21,299.73,172.64,453,241,33,373.0,208.0,32.0,U,Urban,1,1,149.98999,1.0,1.0,1,0.0,5.0,1,U,1.0,6.0,1.0,B,A,J,0,371.0,1062034,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,54.4375,769.00,59.99,0.0000,4.75,1.4250,1.4250,0.0,0.5850,4.00,-4.4475,9.333333,0.666667,56.666667,239.000000,0.0,100.666667,174.333333,0.0,1.000000,8.666667,8.090000,44.666667,0.0,446.453333,0.0,189.106667,34.666667,38.143333,11.666667,24.840000,186.333333,0.0,387.400000,68.666667,0.0,248.160000,0.0,10.000000,239.000000,174.333333,1.666667,16,1,1,N,A,0,4029,12356.0,1555.73,1472.11,12345.0,4025,98.14,823.00,268.33,768,244,56,719.0,242.0,58.0,C,Rural,1,0,99.98999,3.0,2.0,1,0.0,5.0,1,U,2.0,6.0,1.0,C,M,H,0,16.0,1053368,0,1,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [152]:
#drop the one hot encoded columns from the data frame
test_dataset_onehot.drop(columns=columns_to_onehot_encode,axis=1,inplace=True)

resets the index of the DataFrame new_cell_df_test by dropping the previous index and creating a new one starting from 0. The reset_index() function is used to reset the index of a DataFrame, and the drop=True argument is used to drop the previous index column.

In [153]:

new_cell_df_train = new_cell_df_train.reset_index(drop=True)
marital_df_train = marital_df_train.reset_index(drop=True)
crclscod_df_train = crclscod_df_train.reset_index(drop=True)

HHstatin_df_train = HHstatin_df_train.reset_index(drop=True)
dwllsize_df_train = dwllsize_df_train.reset_index(drop=True)
ethnic_df_train=ethnic_df_train.reset_index(drop=True)

area_df_train = area_df_train.reset_index(drop=True)
prizm_social_one_df_train = prizm_social_one_df_train.reset_index(drop=True)

X_train = X_train.reset_index(drop=True)

In [154]:
# concatenate all dataframes into one
train_dataset_onehot = pd.concat([X_train,new_cell_df_train,crclscod_df_train,
                                  prizm_social_one_df_train,area_df_train,
                                  marital_df_train,HHstatin_df_train,
                                 dwllsize_df_train,ethnic_df_train], axis=1)

In [107]:
#display the data frame
train_dataset_onehot.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,change_rev,drop_vce_Mean,blck_vce_Mean,unan_vce_Mean,plcd_vce_Mean,plcd_dat_Mean,recv_vce_Mean,comp_vce_Mean,comp_dat_Mean,custcare_Mean,ccrndmou_Mean,cc_mou_Mean,inonemin_Mean,threeway_Mean,mou_cvce_Mean,mou_cdat_Mean,mou_rvce_Mean,owylis_vce_Mean,mouowylisv_Mean,iwylis_vce_Mean,mouiwylisv_Mean,peak_vce_Mean,peak_dat_Mean,mou_peav_Mean,opk_vce_Mean,opk_dat_Mean,mou_opkv_Mean,mou_opkd_Mean,drop_blk_Mean,attempt_Mean,complete_Mean,callwait_Mean,months,uniqsubs,actvsubs,new_cell,crclscod,asl_flag,totcalls,totmou,totrev,adjrev,adjmou,adjqty,avgrev,avgmou,avgqty,avg3mou,avg3qty,avg3rev,avg6mou,avg6qty,avg6rev,prizm_social_one,area,dualband,refurb_new,hnd_price,phones,models,hnd_webcap,truck,lor,dwlltype,marital,adults,income,numbcars,HHstatin,dwllsize,ethnic,creditcd,eqpdays,Customer_ID,number_of_kids,new_cell_N,new_cell_Y,crclscod_A,crclscod_B,crclscod_C,prizm_social_one_C,prizm_social_one_R,prizm_social_one_S,prizm_social_one_T,area_Rural,area_Urban,marital_M,marital_N,HHstatin_A,HHstatin_B,HHstatin_C,HHstatin_G,HHstatin_H,dwllsize_B,dwllsize_C,dwllsize_D,dwllsize_E,dwllsize_F,dwllsize_G,dwllsize_H,dwllsize_I,dwllsize_J,dwllsize_K,dwllsize_L,dwllsize_M,dwllsize_N,dwllsize_O,ethnic_B,ethnic_C,ethnic_D,ethnic_F,ethnic_G,ethnic_H,ethnic_I,ethnic_J,ethnic_M,ethnic_N,ethnic_O,ethnic_P,ethnic_R,ethnic_S,ethnic_U,ethnic_X
0,44.990,366.75,52.49,0.00,0.0,0.000,0.000,0.0,0.0000,31.25,34.990,2.666667,0.000000,18.333333,66.333333,0.0,5.666667,45.666667,0.0,2.333333,19.0,18.266667,3.666667,0.333333,209.380000,0.0,14.67,20.666667,62.240000,2.333333,7.826667,28.000000,0.0,80.916667,21.333333,0.0,143.133333,0.0,2.666667,66.333333,45.666667,0.000000,13,1,1,U,B,0,1779,7394.0,739.07,655.84,7331.0,1762,54.65,610.92,146.83,356,76,33,485.0,129.0,45.0,S,Suburban,1,1,199.98999,1.0,1.0,1,0.0,5.0,1,U,2.0,6.0,1.0,I,A,B,0,407.0,1055616,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,49.990,115.00,59.99,0.00,0.0,0.000,0.000,0.0,0.0000,-3.00,0.000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,13,1,1,U,B,1,1388,2615.0,684.36,604.38,2607.0,1381,50.37,217.25,115.08,116,70,50,184.0,97.0,50.0,U,Urban,0,1,129.98999,1.0,1.0,1,0.0,5.0,1,U,2.0,6.0,1.0,C,I,H,0,394.0,1065955,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,30.260,337.75,39.99,0.00,1.5,0.525,0.525,0.0,0.0000,24.25,-0.270,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,9,1,1,U,A,0,857,2889.0,266.77,206.79,2880.0,853,25.85,360.00,106.63,330,106,31,371.0,113.0,24.0,T,Suburban,1,1,59.98999,1.0,1.0,1,1.0,6.0,0,M,5.0,5.0,3.0,C,A,S,1,288.0,1065683,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,49.605,223.25,39.99,0.00,38.0,13.300,13.300,0.0,3.4125,332.75,42.945,7.000000,0.333333,17.333333,100.333333,0.0,11.333333,76.666667,0.0,0.000000,0.0,0.000000,5.666667,0.666667,78.696667,0.0,14.77,10.000000,7.673333,0.000000,0.000000,27.666667,0.0,39.890000,54.666667,0.0,53.576667,0.0,7.333333,100.333333,76.666667,0.666667,19,3,1,N,A,0,2699,4257.0,845.91,811.55,4246.0,2693,45.09,235.89,149.61,112,58,36,93.0,56.0,34.0,U,Rural,1,0,79.98999,3.0,2.0,1,0.0,15.0,0,N,4.0,6.0,2.0,C,A,H,1,259.0,1028190,1,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,51.295,647.50,59.99,0.99,0.0,0.000,0.000,0.0,0.0000,-522.50,-1.305,7.666667,0.666667,18.000000,156.666667,0.0,83.666667,133.000000,0.0,0.000000,0.0,0.000000,53.000000,0.000000,312.356667,0.0,111.45,41.333333,32.220000,14.666667,16.510000,126.666667,0.0,265.636667,54.333333,0.0,158.170000,0.0,8.333333,156.666667,133.000000,0.000000,31,1,1,U,A,0,3373,12385.0,1779.82,1742.83,12377.0,3372,60.10,426.79,116.28,822,251,52,821.0,254.0,53.0,T,Suburban,1,1,149.98999,2.0,2.0,1,0.0,9.0,1,N,3.0,7.0,3.0,I,B,N,1,318.0,1012261,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [156]:


#display all columns
pd.set_option('display.max_columns', None)
train_dataset_onehot.head()
#drop the onehot encoded columns from the train dataset
train_dataset_onehot.drop(columns=columns_to_onehot_encode,axis=1,inplace=True)

In [157]:
#check the shape
train_dataset_onehot.shape

(75000, 125)

In [158]:
#check the shape
test_dataset_onehot.shape

(25000, 125)

In [177]:
#checking is there any extra column in test or train data
train_columns = set(train_dataset_onehot.columns)
test_columns = set(test_dataset_onehot.columns)

# Find columns present in train_dataset_onehot but not in test_dataset_onehot
train_diff = train_columns - test_columns
print("Columns in train_dataset_onehot but not in test_dataset_onehot:", train_diff)

# Find columns present in test_dataset_onehot but not in train_dataset_onehot
test_diff = test_columns - train_columns
print("Columns in test_dataset_onehot but not in train_dataset_onehot:", test_diff)

Columns in train_dataset_onehot but not in test_dataset_onehot: set()
Columns in test_dataset_onehot but not in train_dataset_onehot: set()

In [162]:
train_dataset_onehot = train_dataset_onehot.reset_index(drop=True)

In [166]:
test_dataset_onehot = test_dataset_onehot.reset_index(drop=True)

In [167]:
y_test=y_test.reset_index(drop=True)

In [165]:
y_train=y_train.reset_index(drop=True)

In [173]:
#concatenate target variable with other features
train_df=pd.concat([train_dataset_onehot,y_train],axis=1)

In [170]:
#concatenate target variable with other features
test_df=pd.concat([test_dataset_onehot,y_test],axis=1)

In [174]:
train_df.shape

(75000, 126)

In [171]:
test_df.shape

(25000, 126)

In [175]:
#save the train data as csv 
train_df.to_csv('train_data_onehot.csv')

In [176]:
#save the test data as csv 
test_df.to_csv('test_data_onehot.csv')